VERSION=v0.1.0

# Database host
db_host=localhost

# Database port
db_port=1234

# Database username
db_user=my_name

# Database password
db_password=my_password

# Database name
experiment_db=my_database

# Strangeworks key
STRANGEWORKS_API_KEY=my_strangeworks_key

# IBM Key
QISKIT_API_KEY=my_qiskit_key

# QCi Key
QCI_TOKEN=my_qci_token
QCI_API_URL=my_qci_api_url
