[MESSAGES CONTROL]
disable=C0200, W1514, R1705, R1711, R0903, R0914

; [MASTER]
; ignore-paths=src/matrix_manager/nearest_correlation.py

# [FILE:src/opt_manager/knowledge_gradient.py]
# disable=invalid-name

# [FILE:src/matrix_manager/nearest_correlation.py]
# disable=invalid-name
# disable=too-many-arguments
# disable=too-many-positional-arguments
# disable=too-many-branches
